@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default primary color*/
    --color-primary: #299d91;
    --bg-light: #f4f5f7;
    --bg-dark: #000000;
    --text-light: #f4f5f7;
    --text-dark: #060505;
  }
}

.theme-blue {
  --color-primary: #1e90ff;
}

.theme-purple {
  --color-primary: #6a5acd;
}

.theme-pink {
  --color-primary: #db7093;
}

.theme-brown {
  --color-primary: #8b4513;
}

.light-mode {
  background-color: var(--bg-light);
  color: var(--text-dark);
}

.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-gray);
}